html,
:root {
  --background: #ececec;
  --foreground: #121212;
  --primaryBgColor: #4e00ad;
  --dark_primaryBgColor: #3b0280;
  --primaryTextColor: whitesmoke;
  --secondaryTextColor: white;
  --primaryContainerBgColor: #3b0280;
  --primaryContainerTextColor: white;
  --reverseTextColor: orange;
  --formBtnBgColor: grey;
}
/* darkmode */
[data-theme="dark"] {
  --background: #121212;
  --foreground: white;
  --primaryBgColor: #121212;
  --primaryContainerBgColor: orange;
  --primaryContainerTextColor: white;
  --primaryTextColor: white;
  --secondaryTextColor: orange;
  --reverseTextColor: whitesmoke;
  --formBtnBgColor: grey;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
}
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap");
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
